In [1]:
'''
Q1. Create one variable containing following type of data:
i) string
ii) list
iii) float
iv) tuple
'''
var1 = ['hello', [1,2,3,4], 2.3, ('a','b')]

print('var1 type =',type(var1))
print('var1[0] type =',type(var1[0]))
print('var1[1] type =',type(var1[1]))
print('var1[2] type =',type(var1[2]))
print('var1[3] type =',type(var1[3]))

var1 type = <class 'list'>
var1[0] type = <class 'str'>
var1[1] type = <class 'list'>
var1[2] type = <class 'float'>
var1[3] type = <class 'tuple'>

In [2]:
'''
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.
'''

var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print('var1 type =',type(var1))
print('var2 type =',type(var2))
print('var3 type =',type(var3))
print('var4 type =',type(var4))

var1 type = <class 'str'>
var2 type = <class 'str'>
var3 type = <class 'list'>
var4 type = <class 'float'>

In [3]:
'''
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
'''

a = 5
b = 2

In [4]:
# / is used for arithmetic division - gives quotient
a/b

2.5

In [5]:
# % is used for modulo division - gives reminder
a%b

1

In [6]:
# // is used for floor division - returns integer division
a//b

2

In [7]:
# ** is used for power operation
a**b

25

In [8]:
'''
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
'''

l1 = ['hello', 25, 26, 10.24, 'a', True, '45.85', 45.85, 'OK', 50]

for i in l1:
    print(i,end='\n')

hello
25
26
10.24
a
True
45.85
45.85
OK
50

In [9]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
'''

a = 88
b = 2

count = 0
while a % b == 0 :
    count += 1
    a //= b
print(f'88 is divisible by 2 = {count} times.')

88 is divisible by 2 = 3 times.

In [10]:
'''
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
'''

l1 = range(1,26)
print(list(l1))
print()
for i in list(l1):
    if i % 3 == 0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [11]:
'''
Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
'''

# Mutable data type - Variable whose value can be changed
l1 = [11,22,33,44,55]
print(l1)
print('Original Value of l1[1] = ',l1[1])
print()
l1[1] = '00'
print(l1)
print('New value of l1[1] = ',l1[1])

[11, 22, 33, 44, 55]
Original Value of l1[1] =  22

[11, '00', 33, 44, 55]
New value of l1[1] =  00

List is a mutable object. We can change the values of a mutable object.

In [12]:
# Immutable data type - Variable whose value cannot be changed
str1 = 'Hello World!'
print(str1)
print(str1[6])

str1[6] = 'w'
print(str1)

Hello World!
W

TypeError: 'str' object does not support item assignment

Here, string is an immutable object. Hence, its value cannot be changed.